* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.calculator {
  max-width: 400px;
  margin: 2em auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-section {
  margin: 20px 0;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  margin: auto;
}

.currency-symbol {
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 5px;
  color: #333;
}

input[type="number"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.2em;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #053a5f;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;    
}

.option-description {
  color: #777;
  font-size: 0.9em;
}

.result {
  text-align: center;
  margin-top: 30px;
}

.months {
  font-weight: bold;
}
